<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add initializeData="app_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp"/>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add initializeData="app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="ServiceModelTraceListener" traceOutputOptions="Timestamp" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true"/>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"/>
      <endToEndTracing propagateActivity="true" activityTracing="true" messageFlowTracing="true"/>
    </diagnostics>
    <services>
      <service name="Abc.ServiceModel.HL7.UnitTests.HL7OperationContractAttributeFixture+TestService">
        <endpoint address="http://localhost:8000/Service" binding="basicHttpBinding"
          bindingConfiguration="NonSecure" contract="ITestContract" />
      </service>
      <service name="Abc.ServiceModel.HL7.UnitTests.HL7OperationContractAttributeFixture+TestServiceWithStar">
        <endpoint address="http://localhost:8000/Service" binding="basicHttpBinding"
          bindingConfiguration="NonSecure" contract="ITestContractWithStar" />
      </service>
      <service behaviorConfiguration="SampleServiceMEXBehavior" name="Abc.ServiceModel.HL7.UnitTests.HL7OperationContractSenderReceiverFixture+TestServiceSenderReceiver">
        <endpoint address="http://localhost:8001/Service" binding="basicHttpBinding"
          bindingConfiguration="NonSecure" contract="ITestContractSenderReceiverResponse" />
      </service>
      <service behaviorConfiguration="SampleServiceMEXBehavior" name="Abc.ServiceModel.HL7.UnitTests.HL7OperationContractSenderReceiverFixture+TestServiceSenderReceiverOnNUll">
        <endpoint address="http://localhost:8001/Service" binding="basicHttpBinding"
          bindingConfiguration="NonSecure" contract="ITestContractSenderReceiverResponseNull" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="NonSecure">
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://localhost:8000/Service" binding="basicHttpBinding"
          bindingConfiguration="NonSecure" contract="ITestContract"
          name="basicClient" />
      <endpoint address="http://localhost:8000/Service" binding="basicHttpBinding"
          bindingConfiguration="NonSecure" contract="ITestContractWithReturnMessage"
          name="basicClient2" />
      <endpoint address="http://localhost:8000/Service" binding="basicHttpBinding"
          bindingConfiguration="NonSecure" contract="ITestSenderReceiverContract1"
          name="basicClient3" />
      <endpoint address="http://localhost:8001/Service" binding="basicHttpBinding" bindingConfiguration="NonSecure"
          contract="ITestContractSenderReceiver" name="testSenderReceiver" />
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior name="SampleServiceMEXBehavior" >
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!--<serviceMetadata httpGetEnabled="true"   />-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
    </extensions>
  </system.serviceModel>
</configuration>
